POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysupersecretpostgrespassword
POSTGRES_DB=ort
# Configure the directory of the project that ORT needs to process using PROJECT_DIR
PROJECT_DIR=/home/user/projects/project_dir
